@use "sass:map";

$Colorpalette:  (
PrimaryColor:rgb(230, 10, 255),
PrimaryColorShadow:rgba(250, 48, 115, 0.5),
SecondaryColor: rgb(50, 255, 255),
SecondaryColorShadow: rgba(0, 140, 255, 0.500)
);

$BackgroundColor: (
PrimaryBackground: rgb(40, 40, 40),
SecondaryBackground: rgb(40, 50, 50)
);

$FontColor:azure;


