.contact_section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    padding-top: 5pc;

    .contact_Iconsflex{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;

        .contact_iconContainer{
            padding: 20px 20px 0 20px;
            height: 15vh;
            aspect-ratio: 2 / 1;
            background-color: rgb(50, 50, 50);
            border-radius: 1.5rem;
            position: relative;
            .contact_icon{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
                
            }
        }
             
    }
    
}