@import './utils/_typewriter_animation.scss';
.home_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    
    .text_container{
        text-align: center;
        display: block;
        max-width: 50%;
        .home_title{
            font-size: 40px;
            @include typewritter_animation;
        }
        .home_description{
            font-weight: normal;
        }
    }
}