@import './variables';

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.skills_section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 3pc;
    @media (max-width: 1910px) {
        height: 130vh !important;    
    }

    .skills_text{
        @media (max-width: 980px) {
            padding: 0px 20px 0px 20px;
        }
    }

    .skills_templates_container{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 30px; 
        flex-wrap: wrap;
        padding-top: 30px;
        max-width: 90%;
        max-height: 20vh;
        @media (max-width: 1910px) {
            flex-direction: column;
            gap: 40px; 
            max-width: 80%;
            max-height: initial;
            flex-wrap: nowrap;
            padding-bottom: 5pc;
        }      


        .skills_left_container, .skills_center_container, .skills_right_container{
            padding: 10px 10px 0px 10px;
            flex-basis: 31%;
            background-color: rgb(50, 50, 50);
            border-radius: 1.5rem;
            position: relative;
            @media (max-width: 1910px){
                transition-delay: initial !important;
            }

            &::after{      
                content: "";
                position: absolute;
                z-index: -1;
                background-color: rgb(50, 50, 50);
                border-radius: 1.5rem;
                inset: -0rem;
            }

            &::before{
                content: "";
                position: absolute;
                inset: -0.5rem;
                z-index: -1;
                background: conic-gradient(
                    from var(--gradient-angle),
                    map-get($Colorpalette , SecondaryColor),
                    map-get($Colorpalette , SecondaryColorShadow),
                    map-get($Colorpalette , SecondaryColor)
                    
                );
                border-radius: inherit;
                animation: rotation 5s linear infinite;
            }

            @keyframes rotation {
                0% {
                  --gradient-angle: 0deg;
                }
                100% {
                  --gradient-angle: 360deg;
                }
            }
        }
        .skills_center_container{
            &::before{
                background: conic-gradient(
                    from var(--gradient-angle),
                    map-get($Colorpalette , PrimaryColor),
                    map-get($Colorpalette , PrimaryColorShadow),
                    map-get($Colorpalette , PrimaryColor),
                );}
        }
    }

    .skills_left_container{
        transition-delay: 1s;
    }
    .skills_center_container{
        transition-delay: 2s;
    }
    .skills_right_container{
        transition-delay: 3s;
    }
    
}

