@mixin typewritter_animation{
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s,
        cursor .4s step-end infinite alternate;
}

@keyframes typing{
    from {width: 0}
}

@keyframes cursor{
    50% {border-color: transparent;}
}
